body{
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
}
.parent{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid wheat;
    margin: 0  250px;
    border-radius: 40px;
    box-shadow: 0 0 3px rgb(240, 21, 229), 0 0 7px, 0 0 13px rgb(240, 21, 229);
    background-color: wheat;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* fl */
    margin: 20px;
    
}
.input input{
    flex-grow: 1;
    height: 20px;
    border: 0.5px solid black;
    background-color: black;
    /* border: none; */
    color: wheat;
    border-radius: 20px;
    font-size: 12px;
    padding: 7px 13px;
}
.input input::placeholder{
    color:wheat;
}
.done-checkbox {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}
.container div{
    padding: 10px ;
    margin: 7px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    /* background-color: rgb(155, 6, 248);
     */
    color: black;
}
.container div span{
    display: flex;
    flex-grow: 1;
}
.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 1.8rem;
    width: 1.8rem;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
}
.del{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 1.8rem;
    width: 1.8rem;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
}
.container{

    margin: 20px;

}
#add{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 1.8rem;
    width: 1.8rem;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
    
}
#add span{
    border-radius: 50%;
    font-size: 1.4rem;
}
#clearAll{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: black;
}
#clearAll span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.4rem;
    background-color: black;
}

.material-symbols-outlined {
    border-radius: inherit;
    background-color: black;
    color: wheat;
}